<nav class="navbar">
    <div class="info-nav">

    </div>
    <ul class="buttons-list" type="none">
        <ng-container *ngFor="let type of buttonsTypes">
            <li class="list-btn" (mouseenter)="showCategories(type.text)" (mouseleave)="hideCategories()">

                <ng-container #categoriesMenu *ngIf="type.isGender">
                    <button class="btn btn-list" [routerLink]="['/Items']" [queryParams]="{gender: type.catTypeEnum}">{{type.text}}</button>
                    <div class="categories-placeholder" *ngIf="hoveredButton == type.text">
                        <ul type="none">
                            <li *ngFor="let category of categories" class="category" [routerLink]="['/Items']"
                                [queryParams]="{gender: type.catTypeEnum, categoriesId: category.id}">
                                <span>{{category.name}}</span>
                                <!-- <ng-container *ngTemplateOutlet="categoriesMenu" context:{list: category.SubCategories}></ng-container> -->
                            </li>
                        </ul>
                    </div>
                </ng-container>

                <ng-container #categoriesMenu *ngIf="!type.isGender">
                    <button class="btn btn-list" [routerLink]="['/Items', type.text]">{{type.text}}</button>
                    <div class="categories-placeholder" *ngIf="hoveredButton == type.text">
                        <ul type="none">
                            <li *ngFor="let gender of genders" class="category" [routerLink]="['/Items', getCatTypeString(type.catTypeEnum)]"
                                [queryParams]="{gender: gender.enum}">
                                <span>{{gender.text}}</span>
                            </li>
                        </ul>
                    </div>
                </ng-container>

            </li>
        </ng-container>
    </ul>
    <div class="user-nav">
        <ng-container *ngFor="let iconPath of iconPaths">
            <button class="btn btn-list user-btn">
                <app-svg-icon iconWidth="40px" [path]="iconPath"></app-svg-icon>
            </button>
        </ng-container>
    </div>
</nav>