<div class="container">
    <div class="login-box">
        <div class="login-header">
            <h1>Login</h1>
        </div>
        
        <div class="inputs">
            <div class="email-input">
                <app-textbox [label]="'Email'" [type]="'text'"></app-textbox>
            </div>
            <div class="password-input">
                <app-textbox [label]="'Password'" [type]="'password'"></app-textbox>
            </div>
        </div>
        <app-button [text]="'Login'"></app-button>
        <div class="login-footer" >
            <app-svg-icon *ngFor="let icon of icons" [iconWidth]="'50px'" [path]="'assets/icons/icons8-' + icon + '.svg'" [class]="'logo-icon ' + icon + '-icon'"></app-svg-icon>
        </div>
        <a href="">Forget password</a>
    </div>
</div>
