/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #3f3f3f;
    font-family: 'Noto Sans', sans-serif;
}

.logo-icon{
    transition:box-shadow 0.3s;
    border-radius: 40px;
}
.logo-icon:hover{
    cursor: pointer;
    /* box-shadow: 0px 0px 6px 3px  rgb(0, 0, 0); */
}
.github-icon:hover{
    box-shadow: 0px  0px  10px  3px  rgb(0 0 0); /* right */
}
.facebook-icon:hover{
    box-shadow: 0px  0px  10px  3px  rgb(0 133 255); /* right */
}
.google-icon:hover{
    box-shadow:
    0px -6px 8px -2px  rgb(255 0 0), /* top*/
    -1px  8px  7px  -3px  rgb(17, 217, 64), /* bottom */
    9px  3px  8px  -3px  rgb(44, 75, 255), /* right */
    -18px  0px  8px  -10px  rgb(255 255 0)
}
.btn{
    width: 100px;
    height: 40px;
}