<div class="container">
    <div class="filters">

        <select name="gender" id="">
            <ng-container *ngFor="let gender of getGenders()">
                <option value={{gender.enum}}>{{gender.text}}</option>
            </ng-container>
        </select>
        <div class="categories-treeview">
            <ng-container *ngIf="categories">
                <ng-container
                    *ngTemplateOutlet="treeCategories; context:{$implicit:categories, class:''}"></ng-container>
            </ng-container>

            <ng-template #treeCategories let-categories let-class="class">
                <div [ngClass]="class">
                    <ul type="none" *ngIf="categories">
                        <ng-container *ngFor="let category of categories">
                            <li>
                                <span>{{category.name}}</span>
                                <img *ngIf="category.subCategories" class="not-expand" src="{{arrowPath}}" width="20px" alt="" (click)="expand($event)">
                            </li>
                            <ng-container
                                *ngTemplateOutlet="treeCategories; context:{$implicit:category.subCategories, class:'not-expand'}"></ng-container>
                        </ng-container>

                    </ul>
                </div>



            </ng-template>
        </div>
    </div>
</div>